.roomContain{
    display: block;
}

.room{
    height: 70px;
    width: 70px;
    margin: 10px;
    color: #fff;
    display: inline-block;
    position: relative;
}

.room_display{
    height: 70px;
    border-radius: 4px;
    text-align: center;
}

.text{
    text-align: center;
    height: 20px;
    margin: 0;

}


.hover_div{
    background-color: black;
    position: absolute;
    width: 200px;
    top: 40px;
    left: 70px;
    z-index: 1;
}

.icon_contain p{
    margin: 0;
}

.icon_p{
    display: inline-block;
}

.room:hover + .hover_div{
    display: block;
}

.room:hover{
    cursor: pointer;
}