<!-- <div class="roomContain" *ngFor="let room of rooms">
    <button class="room" (click)="goToDetailRoom(room)" [style]="room.status">{{room.roomName}}</button>
</div> -->

<div class="roomContain">
    <div class="room" *ngFor="let room of FloorFive" [style]="room.status">{{room.roomName}}</div>
</div>
<div class="roomContain">
    <div class="room" *ngFor="let room of FloorFour" [style]="room.status">{{room.roomName}}</div>
</div>
<div class="roomContain">
    <div class="room" *ngFor="let room of FloorThree" [style]="room.status">{{room.roomName}}</div>
</div>
<div class="roomContain">
    <div class="room" *ngFor="let room of FloorTwo" [style]="room.status">{{room.roomName}}</div>
</div>
<div class="roomContain">
    <div class="room" *ngFor="let room of FloorOne" [style]="room.status">{{room.roomName}}</div>
</div>