<div class="main">
    <h1 class="title">Đăng nhập</h1>
    <form [formGroup]="loginForm">
        <p>Nhập tài khoản</p>
        <input formControlName="username">
        <p class="error" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">*Không được để trống tài khoản</p>
        <p>Nhập mật khẩu</p>
        <input type="password" formControlName="password">
        <p class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">*Không được để trống mật khẩu</p>
        <button class="loginBtn" (click)="onSubmit()">Đăng nhập</button>
    </form>
    <div class="goToSignin">
        <p>Chưa có tài khoản</p>
        <button (click)="goToSignin()">Đăng ký</button>
    </div>
</div>


