<div *ngIf="update">
    <p>Chọn nâng cấp</p>
    <button (click)="goToStudent()">Sinh viên</button>
    <button (click)="goToTeacher()">Giáo viên</button>
</div>
<div *ngIf="form">
    <form *ngIf="student" [formGroup]="studentForm">
        <input type="text" formControlName="studentName" placeholder="Nhập mã sinh viên">
    </form>
    <form *ngIf="teacher" [formGroup]="teacherForm">
        <input type="text" formControlName="teacherName" placeholder="Nhập tên">
    </form>
    <button (click)="Comfirm()">Xác nhận</button>
</div>

<p *ngIf="teacherP">Liên hệ với admin đễ xác nhận đăng ký tài khoản</p>
<p *ngIf="studentP">Đã gửi yêu cầu nâng cấp tài khoản. Vui lòng đợi</p>