<h1>Danh sách phòng của giảng đường {{area}}</h1>
<div class="roomContain" *ngFor="let roomList of rooms, let j = index">
    <div class="room" *ngFor="let room of roomList , let i = index">
        <div class="room_display" (mouseenter) ="onHover(i,j)"  (mouseleave) ="onHover(-1,-1)" [style]="room.status">
            <p class="text">{{room.roomName}}</p>
            <p class="text">{{room.capacity}}</p>
            <i class="fa fa-microphone" *ngIf="room.mic"></i>
            <i class="fa fa-desktop" *ngIf="room.screen"></i>
        </div>
        <div class="hover_div" *ngIf="i == hover && j == hoverJ">
            <p>Phòng {{room.roomName}}</p>
            <p>Sức chứa: {{room.capacity}}</p>
            <div class="icon_contain" *ngIf="room.mic">
                <i class="fa fa-microphone"></i>
                <p class="icon_p">Có mic</p>
            </div>
            <div *ngIf="room.screen">
                <i class="fa fa-desktop"></i>
                <p class="icon_p">Có màn hình cảm ứng</p>
            </div>
        </div>
    </div>
</div>