
<mat-form-field>
  <mat-select [(value)]="dayChose" placeholder="Thứ">
    @for (day of Days; track day) {
      <mat-option [value]="convertToDay(day)">{{day}}</mat-option>
    }
  </mat-select>
</mat-form-field><br>
<mat-form-field>
  <mat-select [(value)]="timeStartChose" placeholder="Tiết bắt đầu">
    @for (time of Times; track time) {
      <mat-option [value]="time">{{time}}</mat-option>
    }
  </mat-select>
</mat-form-field><br>
<mat-form-field>
  <mat-select [(value)]="timeChose" placeholder="Số tiết">
    <mat-option value="1">1</mat-option>
    <mat-option value="2">2</mat-option>
    <mat-option value="3">3</mat-option>
  </mat-select>
</mat-form-field><br>
<mat-form-field>
  <mat-select [(value)]="weekChose" placeholder="Tuần">
    @for (week of Weeks; track week) {
      <mat-option [value]="week">{{week}}</mat-option>
    }
  </mat-select>
</mat-form-field><br>
<button (click)="goToFindRoom()">Tìm phòng</button>