<!-- <div class="areaContain" *ngFor="let room of rooms">
    <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
</div> -->
<button *ngIf="!IschoseArea" (click)="choseAreaAgian()">X</button>
<div *ngIf="IschoseArea">
    <button *ngIf="A1.length > 0" class="area" (click)="choseArea('A1')">A1</button>
    <button *ngIf="A2.length > 0" class="area" (click)="choseArea('A2')">A2</button>
    <button *ngIf="A3.length > 0" class="area" (click)="choseArea('A3')">A3</button>
    <button *ngIf="A4.length > 0" class="area" (click)="choseArea('A4')">A4</button>
    <button *ngIf="A5.length > 0" class="area" (click)="choseArea('A5')">A5</button>
    <button *ngIf="A6.length > 0" class="area" (click)="choseArea('A6')">A6</button>
    <button *ngIf="A7.length > 0" class="area" (click)="choseArea('A7')">A7</button>
    <button *ngIf="A8.length > 0" class="area" (click)="choseArea('A8')">A8</button>
</div>

<div *ngIf="A1Check">
    <div class="areaContain" *ngFor="let room of A1">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>
<div *ngIf="A2Check">
    <div class="areaContain" *ngFor="let room of A2">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>
<div *ngIf="A3Check">
    <div class="areaContain" *ngFor="let room of A3">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>
<div *ngIf="A4Check">
    <div class="areaContain" *ngFor="let room of A4">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>
<div *ngIf="A5Check">
    <div class="areaContain" *ngFor="let room of A5">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>
<div *ngIf="A6Check">
    <div class="areaContain" *ngFor="let room of A6">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>
<div *ngIf="A7Check">
    <div class="areaContain" *ngFor="let room of A7">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>
<div *ngIf="A8Check">
    <div class="areaContain" *ngFor="let room of A8">
        <button class="area" (click)="registerRoom(room)">{{room.getRoomName()}}</button>
    </div>
</div>

<p *ngIf="noRoom">Không có phòng</p>

<div class="fullscreen" *ngIf="registerCheck">
    <div class="notification">
        <p>Xác nhận đăng ký phòng {{room.roomName}}</p>
        <button (click)="submitRegisterRoom()">Xác nhận</button>
        <button (click)="denyRegisterRoom()" >Hủy</button>
    </div>
</div>